<ion-grid>
  <form [formGroup]="attendanceForm" (ngSubmit)="send(attendanceForm.value)">
    <ion-item>
      <ion-label position="floating">Carnet:</ion-label>
      <ion-input ngDefaultControl formControlName="license"></ion-input>
    </ion-item>

    <ng-container *ngIf="compareCard()">
      <ion-item>
        <ion-label position="floating" class="weight">Nombre:</ion-label>
      <ion-input value="{{name}}" disabled="true" class="weight"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="weight">Sección:</ion-label>
      <ion-input value="{{section}}" disabled="true" class="weight"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label>Código del Curso:</ion-label>
        <ion-select placeholder="Selecciona Uno" ok-text="Seleccionar" cancel-text="Cancelar" (ionChange)="changeSelect($event)" ngDefaultControl formControlName="course_code">
          <ion-select-option *ngFor="let code_course of code_courses" value="{{code_course}}">{{code_course}}</ion-select-option>
        </ion-select>
      </ion-item>
    
    </ng-container>
    
    
    <ion-item>
      <ion-label position="floating">Fecha:</ion-label>
      <ion-datetime 
       displayFormat="MM/DD/YYYY"
       ngDefaultControl formControlName="date"
       (ionChange)="changeDate($event)"
       monthShortNames="jan, feb, mar, apr, mai, jun, jul, aug, sep, okt, nov, des"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Temas Vistos:</ion-label>
      <ion-input ngDefaultControl formControlName="watched_topics"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Justificación:</ion-label>
      <ion-input ngDefaultControl formControlName="justification"></ion-input>
    </ion-item>

    <ion-button type="submit" color="success" expand="block" disabled="{{disabled}}">Enviar</ion-button>
    <ion-button (click)="clearForm()" color="danger" expand="block">Cancelar</ion-button>
  </form>
</ion-grid>