<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-grid>
      <ion-button expand="block" routerLink="/courses">Registrar Cursos</ion-button>
      <ion-button expand="block" routerLink="/students">Registrar Alumnos</ion-button>
      <ion-button expand="block" routerLink="/attendance">Registrar Asistencia</ion-button>
      <ion-button expand="block" routerLink="/statistics">Estadisticas</ion-button>
    </ion-grid>
  </div>
</ion-content>